<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/3f8d694220.js" crossorigin="anonymous"></script>

    <!-- Additional Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LeatvwUAAAAAANgMTBjt-eD0NkSZu2eyoaUExju"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/hover.css">
    <link rel="shortcut icon" type="image/png" href="./assets/img/logo.png"/>
    
    <title>iCyption - Register CP</title>
</head>

<body>
    <section id="register">
        <div class="wrapper-box register-wrapper shadow-lg">

            <nav>
                <div class="logo mx-auto">
                    <img src="./assets/img/logo.png" alt="logo" class="logo">
                </div>
                <a href="./">
                    <div class="close-button">
                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                    </div>
                </a>
            </nav>

            <div class="main-content">

                <section class="registration-form-area">
                    <h2 class="sub-heading">Competitive Programming</h2>
                    <div class="container">


                        <div class="row mt-5">
                            <div class="col-md-3">
                                <img src="./assets/img/CP.png" alt="ctf-img"
                                    class="competition-icon register-box d-block mx-auto mb-3">
                            </div>

                            <div class="col-md-8 ml-auto">
                                <p class="card-text">
                                    Kompetisi ini setiap peserta (individu) akan diuji kemampuan nalarnya dalam logika
                                    pemrograman melalui serangkaian soal-soal algoritma yang harus diselesaikan dalam
                                    waktu yang telah ditetapkan.
                                </p>

                                <div class="accordion" id="accordionExample">
                                    <div class="register-button-area">

                                        <button class="btn btn-link register-button" type="button"
                                            data-toggle="collapse" data-target="#teamAccount" aria-expanded="true"
                                            aria-controls="teamAccount">
                                            Data Sekolah
                                        </button>

                                        <button class="btn btn-link register-button" type="button"
                                            data-toggle="collapse" data-target="#teamIdentity" aria-expanded="true"
                                            aria-controls="teamIdentity">
                                            Identitas Peserta
                                        </button>

                                    </div>



                                    <form id="registerCpForm" action="#" autocomplete="false" enctype="multipart/form-data">

                                        <div id="teamAccount" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordionExample">
                                            <div class="form-group">
                                                <label class="register-label">Nama Sekolah</label>
                                                <input type="text" class="form-control usernameInput"
                                                    placeholder="Nama Sekolah" id="cp_namaSekolah" required >
                                            </div>
                                            
                                            <div class="form-group">
                                                <label class="register-label">Upload Foto Logo Sekolah</label>
                                                <input type="file" class="form-control-file" id="cp_logoSekolah" required>
                                            </div>
                                        </div>

                                        <div id="teamIdentity" class="collapse" aria-labelledby="headingOne"
                                            data-parent="#accordionExample">
                                            <div class="form-group">
                                                <label class="register-label">Nama Lengkap</label>
                                                <input type="text" class="form-control" placeholder="John Doe"
                                                    id="cp_nama"  required>
                                            </div>
                                            <div class="form-group">
                                                <label class="register-label">Nomor HP</label>
                                                <input type="number" class="form-control" placeholder="0815xxxxxxx"
                                                    id="cp_notelp"  required>
                                            </div>
                                            <div class="form-group">
                                                <label class="register-label">Email</label>
                                                <input type="email" class="form-control" placeholder="email@example.com"
                                                    id="cp_email" required onchange="cekEmail(this.value,this)">
                                            </div>
                                            <div class="form-group">
                                                <label class="register-label">Upload Kartu Pelajar</label>
                                                <input type="file" class="form-control-file" id="cp_fotoId" required>
                                            </div>
                                            
                                        </div>
                                        <input type="Submit" class="form-control register-submit-button mx-auto"
                                            value="Submit" id="cp_submitBtn">
                                        <div class="loading loading-cp">
                                            <div class="spinner-border text-warning" role="status">
                                                <span class="sr-only">Mengirim Data...</span>
                                            </div>
                                        </div>
                                        
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <footer>
                    <h3>iCyption</h3>
                    <hr class="footer-line">
                    <div class="footer-logo">
                        <div class="footer-logo-left">
                            <img src="./assets/img/telyu.png" alt="logo-footer">
                            <img src="./assets/img/himaif.png" alt="logo-footer">
                            <img src="./assets/img/logo.png" alt="">
                        </div>

                        <div class="footer-logo-right">
                            <a href="#" class="social-media">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" class="social-media">
                                <i class="fab fa-line"></i>
                            </a>
                        </div>
                    </div>
                </footer>

            </div>
        </div>


    </section>
    


    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="./assets/js/main.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>